@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Medium.otf');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/MontserratAlternates-Medium.otf');
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #E4EFDE;
  font-family: system-ui;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  outline: none;
}

a:focus {
  outline: none;
}

ul,
li,
h2,
h3 {
  color: #333333;
}

h2 {
  font-family: 'Poppins', system-ui, sans-serif;
}

h3 {
  font-family: 'Poppins', system-ui, sans-serif;
}

h4 {
  font-family: 'Poppins' system-ui, sans-serif;
  text-wrap: balance;
  font-size: 20px;
  font-weight: 400;
}

.container {
  margin: 1em;
  background-color: #fff;
  border-radius: 12px;
  padding-inline: 0.5em;
}

.main {
  padding-top: 2em;
  padding-bottom: 0.5em;
}

.hidden {
  display: none;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  width: 100%;
  top: 0;
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #769873, #E4EFDE);
  filter: drop-shadow(0 0 0.75rem #0e0e0e3d);
}


.nav__language {
  display: flex;
  /* margin: 0.7em 0; */
}

.nav__language span {
  font-family: 'Montserrat';
  cursor: pointer;
  font-size: 14px;
  padding: 1em 0;
  color: #333;
}

.nav__language span:nth-child(2)::before {
  content: "|";
  padding: 0 1em;
  font-weight: 100;
}

h2,
h3,
li {
  margin: 0.5em;
}

.hide {
  opacity: 0;
  transition: all 2s ease;
}

.show {
  opacity: 1;
}

.main-col__heading {
  margin-bottom: 2.5em;
  font-size: 25px;
  text-align: center;
}

.main-col__list {
  list-style: none;
  padding-left: 20px;
}

.main-col__item {
  position: relative;
  /* Position relative to create space for the emoji */
  padding-left: 30px;
  /* Add some padding for the emoji */
}

.main-col__list .main-col__item::before {
  content: "🌷";
  /* Apple emoji */
  position: absolute;
  /* Position the emoji */
  left: 0;
  /* Place it at the start of the list item */
  top: 0;
  /* Align with the list item */
  font-size: 18px;
  /* Adjust the size of the emoji */
}

.main-col__sub-heading {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  margin-left: 1.5em;
}

.footer {
  background: linear-gradient(to right, #769873, #E4EFDE);
  filter: drop-shadow(0 0 0.75rem #0e0e0e3d);
}

.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2em;
  padding-block: 1em;
  font-size: 24px;
  color: #333;
  /* text-shadow: 0 0 2px #fff; */
}